.ac1 {
  position: absolute;
  left: 20em;
  z-index: -2;
}
.ac2 {
  position: absolute;
  width: 30em;
  right: 0em;
  z-index: -3;
}
.ac3 {
  position: absolute;
  right: 20em;
  margin-top: 10em;
  z-index: -2;
}

/* certificate section */

#container-cert {
  background-size: cover;
  min-height: 100vh;
}

#cert-head {
  position: absolute;
  right: -2em;
  margin-top: 5em;
  transform: rotate(90deg);
  font-size: 3.5em;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  z-index: 1;
}

.fccjs,
.fccfront {
  width: 30em;
  height: 20em;
}

.sandiegoimg,
.dukeimg,
.standfordimg {
  width: 34em;
  height: 25em;
}

.cert-img:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
