.shape1 {
  position: absolute;
  left: 0em;
  top: 2em;
  z-index: -2;
}
.shape2 {
  position: absolute;
  left: 5em;
  top: 7em;
  z-index: -1;
}
.shape3 {
  position: absolute;
  right: 4em;
  top: 10em;
  z-index: -2;
}
.shape4 {
  position: absolute;
  right: 20em;
  top: 14em;
  z-index: -2;
}
.shape5 {
  position: absolute;
  right: 3em;
  bottom: 2em;
  z-index: -2;
}
.shape6 {
  position: absolute;
  right: 7em;
  bottom: 2em;
  z-index: -2;
}
.shape7 {
  position: absolute;
  left: 15em;
  bottom: 7em;
  z-index: -2;
}
.shape8 {
  position: absolute;
  left: 4em;
  bottom: 2em;
  z-index: -2;
}

/* landing page */

#wrapper-website {
  width: 100%;
}

#home-container {
  background-size: cover;
  min-height: 115vh;
  width: 100%;
}

#navbar {
  position: fixed;
  top: 5vh;
}

#header-name {
  position: fixed;
  color: black;
  font-weight: bold;
  font-size: 30px;
  padding: 30px;
  font-family: "Karla", sans-serif;
}

#nav-skills-btn {
  margin-left: 50vw;
  font-size: 1.3vw;
  font-weight: bold;
  color: black;
  padding: 35px;
  font-family: "Karla", sans-serif;
}

#nav-work-btn {
  font-size: 1.3vw;
  font-weight: bold;
  color: black;
  padding: 35px;
  font-family: "Karla", sans-serif;
}

#nav-cert-btn {
  font-size: 1.3vw;
  font-weight: bold;
  color: black;
  padding: 35px;
  font-family: "Karla", sans-serif;
}

#nav-contact-btn {
  font-size: 1.3vw;
  font-weight: bold;
  color: black;
  padding: 35px;
  font-family: "Karla", sans-serif;
}

#welcome-text {
  font-weight: bold;
  color: black;
  margin-top: 40vh;
  margin-left: 0;
  resize: vertical;
  overflow: auto;
  text-align: center;
}

#hello-text {
  font-size: 40px;
  font-family: "Karla", sans-serif;
}
#focus-text {
  font-size: 30px;
  font-family: "Karla", sans-serif;
}

#based-text {
  font-family: "Karla", sans-serif;
}

.scrolling {
  position: fixed;
  left: -2em;
  top: 8em;
  font-size: 4em;
  transform: rotate(-90deg);
  font-family: "Karla", sans-serif;
}
