.pro1 {
  position: absolute;
  left: 15em;
  margin-top: -10em;
  z-index: -2;
}
.pro2 {
  position: absolute;
  left: 40em;
  margin-top: 50em;
  z-index: -2;
}
.pro3 {
  position: absolute;
  right: 30em;
  margin-top: -25em;
  z-index: -2;
}
.pro4 {
  position: absolute;
  right: 20em;
  margin-top: 50em;
  z-index: -2;
}

#project-head {
  position: absolute;
  transform: rotate(90deg);
  right: -1em;
  margin-top: 4em;
  font-family: "Karla", sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  z-index: -2;
}

/* project section */

.container-work {
  background-size: cover;
  min-height: 150vh;
}

.project-card {
  padding-top: 2em;
}

#weatherapp {
  width: 5em;
  height: 10em;
}

#todoapp {
  width: 5em;
  height: 10em;
}

#plantapp {
  width: 15em;
  height: 15em;
}

#bubbleteaapp {
  width: 6.5em;
  height: 11em;
}

#website {
  width: 15em;
  height: 10em;
}

#rqm {
  width: 16em;
  height: 10em;
}

#drum_machine {
  width: 18em;
  height: 9em;
}

/* project caption text  */

.project-text {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Karla", sans-serif;
}

.projtitle {
  font-size: 2em;
}

.btnproj {
  border-radius: 15px;
}

.projlink {
  color: black;
  font-weight: bold;
}

.projlink:hover {
  text-decoration: underline;
  color: white;
}

#weatherapptext {
}

#todoapptext {
}

#personalwebtext {
}

#dmtext {
}

#bubteaapptext {
}

#plantdetectapptext {
}

#rqmtext {
}

/* end project caption text */

/* end Project page */
