/* skills section */

.container-skills {
  background-size: cover;
  min-height: 115vh;
  width: 100%;
}

.skills1 {
  position: absolute;
  top: 90em;
  left: 5em;
  z-index: -10;
}

.skills2 {
  position: absolute;
  top: 90em;
  left: 20em;
  z-index: 1;
}
.skills3 {
  position: absolute;
  top: 100em;
  right: 20em;
  z-index: -2;
}
.skills4 {
  position: absolute;
  top: 120em;
  right: 7em;
  z-index: -1;
}

.skills-head {
  position: absolute;
  transform: rotate(90deg);
  right: 0em;
  margin-top: 20em;
  font-family: "Karla", sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  z-index: -2;
}

h2 {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 3em;
  z-index: 1;
}

h3 {
  font-family: "Karla", sans-serif;
  font-size: 3em;
  z-index: 1;
}

.skill-title {
  position: absolute;
  text-align: left;
  font-size: 4em;
  font-weight: bold;
  left: 5em;
  top: 27em;
  z-index: 1;
}

.frontend {
  position: absolute;
  text-align: left;
  right: 5.5em;
  top: 90em;
  z-index: 1;
}

.mobile {
  position: absolute;
  text-align: left;
  right: 39em;
  top: 99em;
  z-index: 1;
}
.tools {
  position: absolute;
  text-align: left;
  right: 17em;
  top: 108em;
  z-index: 1;
}
.language {
  position: absolute;
  text-align: left;
  right: 30em;
  top: 117em;
  z-index: 1;
}
