body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./asset/bg/bg-illusion.png);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

@media screen and (min-width: 320px) and (max-width: 768px) {
  .shape1,
  .shape2,
  .shape3,
  .shape4,
  .shape5,
  .shape6,
  .shape7,
  .shape8 {
    height: 10%;
    width: 10%;
  }

  .skills1,
  .skills2,
  .skills3,
  .skills4 {
    height: 10%;
    width: 10%;
  }

  .pro1,
  .pro2,
  .pro3,
  .pro4 {
    height: 10%;
    width: 10%;
  }

  .scrolling {
    font-size: 2em !important;
  }
  .skills-head {
    font-size: 2em !important;
  }
  #project-head {
    font-size: 2em !important;
  }

  #cert-head {
    font-size: 2em !important;
  }

  #nav-skills-btn,
  #nav-work-btn,
  #nav-cert-btn,
  #nav-contact-btn {
    visibility: hidden;
  }

  /* Skills */

  .skill-title {
    font-size: 2.5em !important;
    position: absolute;
    margin-left: -1em;
    margin-top: 3em;
  }

  .frontend {
    position: absolute;
    margin-top: -9em;
    left: 13em;
  }

  .mobile {
    font-size: 1em;
    position: absolute;
    margin-top: -2em;
    left: 13em;
  }

  .tools {
    position: absolute;
    left: 14em;
    margin-top: 3em;
  }

  .language {
    position: absolute;
    margin-top: 13em;
    left: 14em;
  }

  .frontendtxt {
    font-size: 2em !important;
    /* text-align: center;
    margin-left: 5em; */
  }

  .mobiletxt {
    font-size: 2em !important;
  }

  .toolstxt {
    font-size: 2em !important;
  }
  .languagetxt {
    font-size: 2em !important;
  }

  /* Certficate */

  .fccjs,
  .fccfront {
    width: 20em !important;
    height: 14em !important;
    margin: 1em;
  }

  .sandiegoimg,
  .dukeimg,
  .standfordimg {
    width: 18em !important;
    height: 13em !important;
    margin: 1em;
  }
}

/* @media screen and (max-width: 450px) {
  body {
    width: 100%;
    height: 100%;
  }

  .shape1,
  .shape2,
  .shape3,
  .shape4,
  .shape5,
  .shape6,
  .shape7,
  .shape8 {
    height: auto;
    width: auto;
  }

  .skills1,
  .skills2,
  .skills3,
  .skills4 {
    height: auto;
    width: auto;
  }

  .pro1,
  .pro2,
  .pro3,
  .pro4 {
    height: auto;
    width: auto;
  }

  #wrapper-website {
    display: flex;
    flex-flow: nowrap;
    width: 320px;
  }

  #home-container {
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  #navbar {
    width: 100%;
    height: 0px;
  }

  #wrapper-website {
    height: 100%;
    width: 100%;
  }

  #header-name {
    text-align: center;
    font-size: 30px;
  }
} */
